<h1><%= @category.name %></h1>


 <%
=begin%>
 This page's URL is categories/:id
 It shows how many posts there are in the given category
 and then lists those posts. 
<%
=end%>


<h3><%= pluralize(@category.posts.count, 'Post') %></h3>
<ul>
  <% @category.posts.each do |p| %>
    <li><%= link_to p.title, post_path(p) %></li>
  <% end %>
</ul>

 <%
=begin%>
 A COLLECTION PROXY is a middleman between
 and association and its TARGET result set
 (in this case, posts) 
<%
=end%>


